@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}


p {
    text-align: justify;
    text-indent: 50px;
}

p.combinado:first-letter {
    color: #000000;
    font-size: 300%;
    background-color: #757575;
}



a.ref {
    text-decoration: none;
    color: #000000;
    text-align: right;
    
    
}

a.ref {
    text-decoration: underline;
}



header#cabecalho img.icone {
    left: 60%;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
}

header#cabecalho h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 10%;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}



section {
   
    
    padding-right: 15px;
}

article h2 {
    font-size: 13pt;
    color: #ffffff;
 
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabelha-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}

header#cabelha-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
    margin-top: 0px;
}

header#cabelha-artigo h3 {
    font-size: 12pt;
    color: #606060;
}

.direita {
    text-align: right;
}

aside {
    background-color: #dddddd; 
    padding: 10px;
    margin-top: 10px;

}

aside h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}


aside h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}
h5.form{
    margin-bottom:25px ;
}
div.button{
    margin-top:25px;
}
footer.rodape {
    width: 100%;
}

footer.rodape p {
    text-align: center;
}